html, body {
  margin: 0;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  align-items: stretch;
}

.left, .right {
  width: 50%; 
}

.left {
  background-color: #d55413; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5em; /* Ajuste conforme necessário */
}

.right {
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
}

.chat-container {
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
}

.mensagens {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.mensagem, .audio-container {
  background: #e9e9e9;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  align-items: center; 
}

.form-mensagem {
  display: flex;
  width: 100%;
}

.form-mensagem input {
  flex-grow: 1;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.form-mensagem button {
  background-color: #d55413;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.form-mensagem button:hover {
  background-color: #b34911;
}

.audio-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-right: 30px; /* Espaço para o botão de download */
}

.audio-container audio {
  width: 100%; /* O player de áudio deve ocupar todo o espaço disponível */
}

/* Estilo para o botão de download */
.audio-container .download-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #d55413;
  font-size: 1.5em;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left, .right {
    width: 100%;
  }

  .left {
    padding: 20px;
    text-align: center;
  }
}
